body {
  background-color: MediumSeaGreen;
}
h1{
font-size:20;
text-align:center;
}

p{
 padding:20px;
 border: 2px solid red;
 border-radius: 10px;
 margin:70px;
 width:210px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
 display:inline;
}
a.active {
  background-color: #04AA6D;
} 
